html {
    scroll-behavior: smooth;
  }

.footer {
    color: #fff;
    background-color: var(--background-color);
    text-align: center;
    padding: 1.25rem;
    font-family: Arial, sans-serif;
    position: relative;
}

.footer a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    transition: filter 0.3s ease;
}

.footer a:hover {
    filter: brightness(50%); 
}

.footer-content {
    margin-bottom: 0.5rem;
}

.footer-social {
    color: grey;
    margin-bottom: 2rem;
}

.footer-social a {
    color: grey; 
    transition: filter 0.3s ease;
}

.footer-social a:hover {
    filter: brightness(50%); 
    text-decoration: none;
}
.footer-copy {
    margin-bottom:.2rem;
}

.footer-top {
    position: absolute;
    right: 2rem; 
    bottom: 1rem; 
    cursor: pointer;
}

.footer-top img {
    width: 2.5rem;  
    height: auto; 
    cursor: pointer;
}
